body { width: 100%; height: 100%; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; margin: 0; padding: 0; overflow: hidden; }

a { color: #00B7FF; text-decoration: none; }
a:hover { color: #0094DD; }

h4 { margin-top: 0; }

template { display: none !important; }

nav { margin-bottom: 10px; }
nav a { margin-right: 5px; }

#GamePanel { border: 1px solid gray; border-radius: 2px; width: 100%; height: 100%; float: left; }

#GameCanvas { background-color: #6B9CCC; }

#EditorMain .Panel { position: absolute; border: 1px solid #bbb; background-color: #eee; padding: 10px; }

#Controls {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#Controls { width: 225px; height: 600px; right: 20px; top: 20px; overflow: scroll; }
#Controls #Components { width: 100%; height: 64%; margin-top: 10px; }
#Controls #Body .Bounds { height: 150px; }

#Output { display: none; width: 800px; height: 600px; top: 200px; left: 200px; }
#Output textarea { border: 1px solid #bbb; width: 100%; height: 95%; margin-top: 4px;  }

#TileSet { width: 456px; height: 256px; bottom: 20px; left: 20px; }

#EditorMain #NewEntity { width: 200px; top: 200px; right: 400px; padding: 20px; display: none; }

.Body .Bounds { height: 100px; }
.Body > div, .Bounds > div { width: 180px; height: 30px; }

#EditorMain .Panel input, #EditorMain .Panel select { float: right; }
