body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#GamePanel { border: 1px solid gray; border-radius: 2px; width: 800px; height: 600px; float: left; }

#GameCanvas { background-color: #6B9CCC; }

#Controls { float: left; width: 300px; height: 600px; border: 1px solid #aaa; margin-left: 10px; }